{% extends "layouts/main.html" %}
{% load static %}

{% block content %}
    <h1 class="py-20 text-7xl text-center">PROFILE</h1>



<div>

  <div class="bg-blue-100 w-100 h-25">

  </div>




</div>







                <div class="mb-4 px-12 grid place-items-center">
                    <!-- settings.html -->
          
                {% if user_profile.profile_image %}
                     <img  src="{{ user_profile.profile_image.url }}" alt="Profile Image" class="rounded-full h-40 w-40">
                 {% else %}
                 <img src="{% static 'profile-circle-icon-512x512-zxne30hp.png' %}" alt="default_image" class="rounded-full h-40 w-40" >
                {% endif %} 
                 
            </div>

            <div class=" py-11 px-11">
           <h1 class=" text-xl">{{ user_profile.username }}</h1>
           <h1 class=" text-xl">{{ user_profile.email }}</h1>
    

           <div>
           

        {% for ad in user_address %}
        
        <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
          <h3 class="text-bold">Address {{ad.address_type}}</h3>
          <p>Addess: {{ad.address}}</p>
          <p>Name: {{ad.first_name}}</p>
          <p>State: {{ad.state}}</p>
          <p>City: {{ad.city}}</p>
          <p>Pin Code: {{ad.pincode}}</p>
          <p>Phone number: {{ad.phone_number}}</p>
          </div>
        </div>
        </div>
      {% endfor %}

           </div>

    <div class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50 flex items-center justify-center"  id="modal">
        <div class="modal-content bg-white p-4 max-w-md mx-auto rounded shadow-lg" style="width: -moz-available;">
           <div class="modal-header flex justify-between items-center mb-4">
            <p class="text-xl font-medium">Address Details</p>
            <button id="close-modal" class="text-gray-500 hover:text-gray-700 focus:outline-none">
              <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        <div class="modal-body overflow-y-auto max-h-96  w-100">
           

                               
                                <p class="text-gray-400">Complete your order details.</p>
                                <label for="email" class="mt-4 mb-2 block text-sm font-medium">Address</label>
                                <div class="relative">
                                <input type="text" id="email" name="email" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="Address" />
                                <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 opacity-40">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                    </svg>
                                    
                                </div>
                                </div>

                                <label for="email" class="mt-4 mb-2 block text-sm font-medium">First name</label>
                                <div class="relative">
                                <input type="text" id="first_name" name="first_name" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="first_name" />
                                <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                                    
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
                                  </svg>
                                    
                                </div>
                                </div>

                                <label for="email" class="mt-4 mb-2 block text-sm font-medium">last name</label>
                                <div class="relative">
                                <input type="text" id="last_name" name="last_name" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="last_name" />
                                <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                                    
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
                                  </svg>
                                    
                                </div>
                                </div>

                                <label for="email" class="mt-4 mb-2 block text-sm font-medium">city</label>
                                <div class="relative">
                                <input type="text" id="city" name="city" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="city" />
                                <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 opacity-40">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                    </svg>
                                    
                                </div>
                                </div>

                                <label for="email" class="mt-4 mb-2 block text-sm font-medium">state</label>
                                <div class="relative">
                                <input type="text" id="state" name="state" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="state" />
                                <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                                    
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 opacity-40">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                    </svg>
                                    
                                </div>
                                </div>


                                <label for="number" class="mt-4 mb-2 block text-sm font-medium">number</label>
                                <div class="relative">
                                <input type="text" id="number" name="number" class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500" placeholder="number" />
                                <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
                                    
                                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 opacity-40">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                                  </svg>
                                  
                                </div>
                                </div>

                        <!-- Total -->
                  
                   
                    </div>
                    <button class="mt-4 mb-8 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white">Save And Deliver Here</button>
              

                
        
        </div> 

      
    </div>
      
      <button id="open-modal" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="openModal()">
        Add Address
      </button>

    </div>
    <h1 class="py-20 text-3xl text-center">THANKS</h1>


    <script>
        function openModal() {
          document.getElementById('modal').classList.remove('hidden');
        }
      
        function closeModal() {
          document.getElementById('modal').classList.add('hidden');
        }
      
        document.getElementById('close-modal').addEventListener('click', closeModal);
      
        // Close modal if the overlay is clicked
        document.getElementById('modal').addEventListener('click', function (event) {
          if (event.target === this) {
            closeModal();
          }
        });
      </script>
{% endblock content %}