{% extends "layouts/main.html" %}
{% load static %}

{% block content %}
    <h1 class="py-20 text-7xl">SETTINGS</h1>

                <div class="mb-4">
                    <!-- settings.html -->
            {% if user_profile %}
            <p>User Profile Found: {{ user_profile }}</p>
            <img src="{{ user_profile.profile_image.url }}" alt="Profile Image" class="rounded-full h-40 w-40">
            {% else %}
            <p>No user profile found.</p>
            {% endif %}

    </div>

    <h1 class="py-20 text-3xl">THANKS</h1>
{% endblock content %}