   
{% extends "layouts/main.html" %}  
 
{% load static %}  

   
{% block content %}  
{% load i18n %}      
 <div class="w3-display-container w3-text-white "  >  
  
  
{% comment %} <img  src="{{ main_images.cover_image.url }}" alt="image description">    {% endcomment %}
</div> 


<div class="grid grid-cols-4 gap-y-20  py-14 px-10">

<div >
    <a href="{% url 'categoryview' slug='usbot-atelier' %}">

<h1 class="text-8xl py-2 ">USBOT <br>ATELIER</h1>
<h3>Join the movement to reduce <br> use of plastic – switch to our <br> Atelier steel bottles.</h3>
<div class="py-4">
<button class="w-32  bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full  hover:bg-gray-600 dark:hover:bg-gray-700"> SHOP NOW</button>
</div>
</a>
</div>

<div>
<a href="#">
    <img class="h-72 w-62 object-cover rounded-t-xl" src="{% static 'be-confident-420x455.png' %}" alt="a product">
    <h1 class="">Be Confident</h1>
</a>
</div>

<div>

    <img class="h-72 w-62 object-cover rounded-t-xl" src="{% static 'Fitness-Freak-420x455.png' %}" alt="a product">
    <h1 class="">Fitness Freak</h1>
</div>

<div>

    <img class="h-72 w-62 object-cover rounded-t-xl" src="{% static 'Pink-Blossom-420x455.png' %}" alt="a product">
    <h1 class="">Pink Blossom</h1>
</div>

<div >
    <a href="{% url 'categoryview' slug='HOTCOLD'%}">
<h1 class="text-8xl py-2 ">hOT &  <br>COLD</h1>
<h3>A smarter way to hydrate is,Keep your  <br>  drinks 24/18 hours cold & hot with <br>  Vaccum technology.</h3>
<div class="py-4">
<button class=" bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full  hover:bg-gray-600 dark:hover:bg-gray-700"> SHOP NOW</button>
</div>
</a> 
</div>
<div >

    <img class="h-72 w-62 object-cover rounded-t-xl" src="{% static 'gifting7.png' %}" alt="a product">
    {% comment %} <h1 class="">Be Confident</h1> {% endcomment %}
</div>
<div>

    <img class="h-72 w-62 object-cover rounded-t-xl" src="{% static 'usbot15.png' %}" alt="a product">
    {% comment %} <h1 class="">Be Confident</h1> {% endcomment %}
</div>
<div>

    <img class="h-72 w-62 object-cover rounded-t-xl" src="{% static 'usbot12.png' %}" alt="a product">
    {% comment %} <h1 class="">Be Confident</h1> {% endcomment %}
</div>
</div>


{% endblock content %}   
    
 
 
 








