{% extends "layouts/main.html" %}
{% load static %}



{% block content %}
<hr>


{% comment %} <div class="py-3 bg-blue-500">
    <div class="container mx-auto text-white">
        <a href="{% url 'home' %}"> HOME /</a>
        <a href="{% url 'shop' %}"> SHOP /</a>
    </div>
</div> {% endcomment %}
{% comment %} 
<div class="bg-blue-200">

<div class="container mx-auto">
    <div class="flex flex-wrap">
        <div class="w-full">
           
            <hr>
            <div class="flex flex-wrap">
                {% for item in category %}
                <div class="w-full md:w-1/4 p-2">
                <a href="{% url 'categoryview' slug=item.slug %}">
                    <div class="bg-white shadow-lg rounded-lg p-4">
                        <div class="category-images">
                            <img src="{{ item.image.url }}" alt="Category image" class="w-full h-auto" />
                        </div>
                        <h4 class="text-center mt-4"> {{ item.name }} </h4>
                    </div>
                </a>    
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> {% endcomment %}



<div class="flex">
{% comment %} 
    <div class="bg-white ">
        <h1 class="py-3 mx-5 text-2xl ">Filter</h1>
        <hr>
        <h1 class=" py-3 mx-5">Category</h1>
        {% for category_item in category %}
            <div class="flex items-center px-3 py-2 gap-1">
                <input type="radio" id="radioButton{{ forloop.index }}" name="radioGroup" value="{{ category_item.name }}" />
                <label for="radioButton{{ forloop.index }}" class="text-gray-700">{{ category_item.name }}</label>
            </div>
        {% endfor %}
            
            {% for sub_item in category_item.sub_categories.all %}
            <hr>
            <h1 class=" py-3 mx-5">Sub Category</h1>
            <div class="flex items-center px-3 py-2 gap-1">
                <input type="radio" id="radioButton{{ forloop.index }}" name="radioGroup" value="{{ sub_item.name }}" />
                <label for="radioButton{{ forloop.index }}" class="text-gray-700">{{ sub_item.name }}</label>
            </div>
            {% endfor %}


        
       
    </div>
     {% endcomment %}

     
     <div class="bg-white">
        <div class="flex justify-content-between">
            <div class="py-3 mx-6 text-2xl">Filter</div>

            <a href="{% url 'shop' %}" class="py-5 mx-6 text-blue-300">CLEAR ALL</a>
        </div>
        <hr>
        <h1 class="py-3 mx-5">Category</h1>
        {% for category_item in category %}
        

            <div class="flex items-center px-3 py-2 gap-1">
                <input type="radio" id="radioButton{{ forloop.counter }}" name="radioGroup" value="{{ category_item.name }}" onclick="select_category('{{category_item.slug}}')"  {% if request.GET.category == category_item.slug %}checked{% endif %}/>
                <label for="radioButton{{ forloop.counter }}" class="text-gray-700">{{ category_item.name }}</label>
            </div>
            
            {% comment %} {% for sub_item in category_item.sub_categories.all %}
                <hr>
                <h1 class="py-3 mx-5">Sub Category</h1>
                <div class="flex items-center px-3 py-2 gap-1">
                    <input type="radio" id="radioButton{{ forloop.index }}" name="radioGroup" value="{{ sub_item.name }}" />
                    <label for="radioButton{{ forloop.index }}" class="text-gray-700">{{ sub_item.name }}</label>
                </div>
            {% endfor %} {% endcomment %}
            
        {% endfor %}
        
        <hr>
        <h1 class="py-3 mx-5">Sort</h1>
        <div class="flex items-center px-3 py-2 gap-1">
            <input type="radio" id="radioButton_low_to_high" name="radioGroup2" value="low_to_high"  onclick="sorting('low_to_high')"  {% if request.GET.sort == 'low_to_high' %}checked{% endif %}/>
            <label for="radioButton_low_to_high" class="text-gray-700">low to high</label>
        </div>

        <div class="flex items-center px-3 py-2 gap-1">
            <input type="radio" id="radioButton_high_to_low" name="radioGroup2" value="high_to_low" onclick="sorting('high_to_low')"  {% if request.GET.sort == 'high_to_low' %}checked{% endif %}/>
            <label for="radioButton_high_to_low" class="text-gray-700">high to low</label>
        </div>

       
        <div class="flex items-center px-3 py-2 gap-1">
            <input type="radio" id="radioButton_New" name="radioGroup2" value="New" onclick="sorting('new')" {% if request.GET.sort == 'new' %}checked{% endif %} />
            <label for="radioButton_New" class="text-gray-700">New</label>
        </div>
        <hr>
       
    </div>
    


<div class="bg-white  px-12 grid grid-cols-3 gap-16 ">


    {% comment %} {% for item in category %} {% endcomment %}
      {% comment %} <div class="text-center col-span-3">
        <h1 class="font-bold text-7xl mb-4 ">{{ item.name }}</h1>
    </div> {% endcomment %}

      {% comment %} {% for sub_item in item.sub_categories.all %} {% endcomment %}
        {% comment %} <div class="text-center col-span-3">
          <h1 class="text-3xl">{{ sub_item.name }}</h1>
        </div> {% endcomment %}

        {% for product in products %}
        <a href="{% url 'productview' pslug=product.slug vslug=product.variants.first.slug %}">
          <div class="text-center shadow-md my-4">
            <img src="{{ product.variants.first.cover_image.url }}" alt="Product" class="h-72 w-64 object-cover rounded-t-xl mx-auto" />
            <h1 class="text-lg font-bold my-2">{{ product.name }}</h1>

            <div class="flex items-center justify-center">
                {% comment %} {% for variant_item in product_item.variants.all %}
                  {% if forloop.first %} {% endcomment %}
                    <p class="text-lg font-semibold text-black cursor-auto my-3"> ₹ {{ product.variants.first.selling_price }}</p>

                      <del>
                        <p class="text-sm text-gray-600 cursor-auto ml-2"> ₹ {{ product.variants.first.orginal_price }}</p>
                      </del>

                  {% comment %} {% endif %}
                {% endfor %} {% endcomment %}
              </div>

          </div>
        </a>
        {% endfor %}

      {% comment %} {% endfor %}
    {% endfor %} {% endcomment %}

  </div>


</div>


<script>
    let currentUrl = new URL(window.location.href);
    let urlparams = new URLSearchParams(currentUrl.search);

    


    function sorting(sortby) {
       // urlparams.set('page', 1);
        urlparams.set('sort', sortby);
        currentUrl.search = urlparams.toString();
        window.location.href = currentUrl.toString();
      }


    function select_category(categoryby)  {
        urlparams.set('category', categoryby);
        currentUrl.search = urlparams.toString();
        window.location.href = currentUrl.toString();
    }
</script>



  {% endblock content %}    


  