{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

<style>
  * {
    box-sizing: border-box;
  }
  
  .zoom {
    padding: 12px;
   
    transition: transform .4s;
    width: 150px;
    height: 260px;
    margin: 0 auto;
  } 

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  </style>



{% comment %} <div class="py-3 bg-blue-500">
  <div class="container mx-auto text-white">
    <a href="{% url 'home' %}">HOME /</a>
    <a href="{% url 'shop' %}">SHOP /</a>
 
    
  </div>
</div> {% endcomment %}
<h1 class="text-2xl font-bold mx-10 mb-4">PRODUCT VIEW</h1>
<hr>
<div class=" bg-gradient-gray-dark py-12">
 
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col md:flex-row -mx-4">
          <div class="md:flex-1 px-4">

           
              <div class="h-100px rounded-lg  dark:bg-gray-700 mb-4">
                  <img class=" zoom  w-80 object-cover object-center " src="{{ variant.cover_image.url }}" alt="Product Image">
              </div>
              
          </div>
          <div class="md:flex-1 px-4">
              <h2 class="text-4xl font-bold text-gray-800 dark:text-white mb-2">{{ variant.color}}</h2>
              
              <div class="flex mb-4">

                <div>
                  <span class="font-bold text-gray-700 dark:text-gray-300">Availability:</span>
                  <span class="text-gray-600 dark:text-gray-300">In Stock</span>
                </div>
                  
              </div>
              
              <div class="mr-4 flex justify-start ">
                <p class="font-bold text-gray-700 dark:text-gray-300">Price :</p>
                <del  class="text-red-500">
                  <p class="text-gray-600 dark:text-gray-300 overline ml-2">{{variant.orginal_price}} </p>
                </del>
                  <p class="text-gray-600 dark:text-gray-300 overline ml-2"> {{ variant.selling_price}}</p>
              </div>
              <div class="mb-4">
                  <span class="font-bold text-gray-700 dark:text-gray-300">Select Color:</span>
                  <div class="flex items-center mt-2">
                    <div class="flex ps-2">
                      {% for similar_variant in variant.product.variants.all %}
                        <div class="col-1 m-1 p-0 bg-secondary-subtle rounded-1 border border-2 border-color: rgb(255 255 255); {% if similar_variant == variant %}  {% endif %}">
                          <a href="{%  url 'productview' pslug=similar_variant.product.slug vslug=similar_variant.slug  %}">
                            <img src="{{ similar_variant.cover_image.url }}" class="img-fluid" style="width: 100px; height: 100px;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ similar_variant.color }}">
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                    
                  </div>
              </div>

              
              <div class="mb-4">
                  <span class="font-bold text-gray-700 dark:text-gray-300">Select Size:</span>
                  <button>{{variant.size}}</button>
                  {% comment %} <button class="{% if request.GET.size == '500ml' %}border-2{% endif %}  border-black p-1" onclick="changesize('500ml')">500ml</button>
                  <button class="{% if request.GET.size == '1000ml' %}border-2{% endif %} border-black p-1" onclick="changesize('1000ml')">1000ml</button> {% endcomment %}
                  {% comment %} <div class="dropdown">
                    <form id="sizeForm" method="get" action=".">
                      <select id="size" name="selectedSize" onchange="changesize()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="500ml" {% if request.GET.selectedSize %}selected{% endif %}>500ml</option>
                        <option value="1000ml" {% if request.GET.selectedSize %}selected{% endif %}>1000ml</option>
                      </select>
                      <p>{{ request.GET.selectedSize }}</p>

                    </form>
                </div> {% endcomment %}
                
              </div>
              <div class="flex -mx-2 mb-4">
                <div class="w-1/2 px-2">
                  
                    <button class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-600 dark:hover:bg-gray-700">Add to Cart</button>
                   
                </div>
                <div class="w-1/2 px-2">
                  <form method="post" action="{% url 'add_to_wishlist' slug=variant.product.slug %}">
                    {% csrf_token %}
               
    
                    

                    <button class="w-full bg-white dark:bg-white py-2 px-4 rounded-full font-bold hover:bg-gray-400 dark:hover:bg-gray-300 border border-black">Add to wishlist</button>
                   
                     
            </form>
            
            
          
                </div>
            </div>
            <form method="post" action="{% url 'add_to_cart' %}">
              {% csrf_token %}
              <input type="hidden" name="variant_id" value="{{ variant.id }}">
              <div class="mb-4">
                  <label for="quantity">Quantity:</label>
                  <div class="flex items-center">
                      <button type="button" class="quantity-button" id="quantity-minus">-</button>
                      <input type="number" name="quantity" id="quantity" value="1" min="1" class="w-16 text-center" required>
                      <button type="button" class="quantity-button" id="quantity-plus">+</button>
                  </div>
              </div>
          
              <button type="submit" class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-600 dark:hover:bg-gray-700">Add to Cart</button>
          </form>
              <div>
                  <span class="font-bold text-gray-700 dark:text-gray-300">Product Description:</span>
                  <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">{{ variant.product.description }}
                      </p>
              </div>
         
          </div>
      </div>
  </div>
</div>


{% comment %} 
<script>


  let currentUrl = new URL(window.location.href);
  let urlparams = new URLSearchParams(currentUrl.search);
  if (!urlparams.get('size')){
    urlparams.set('size',"500ml")
    currentUrl.search = urlparams.toString();
   // window.location.href = currentUrl.toString();
  }

  function changesize(size){
    urlparams.set('size',size)
    currentUrl.search = urlparams.toString();
    window.location.href = currentUrl.toString();

  }



</script> {% endcomment %}
<script>
  function imageZoom(imgID, resultID) {
    var img, lens, result, cx, cy;
    img = document.getElementById(imgID);
    result = document.getElementById(resultID);
    /*create lens:*/
    lens = document.createElement("DIV");
    lens.setAttribute("class", "img-zoom-lens");
    /*insert lens:*/
    img.parentElement.insertBefore(lens, img);
    /*calculate the ratio between result DIV and lens:*/
    cx = result.offsetWidth / lens.offsetWidth;
    cy = result.offsetHeight / lens.offsetHeight;
    /*set background properties for the result DIV:*/
    result.style.backgroundImage = "url('" + img.src + "')";
    result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
    /*execute a function when someone moves the cursor over the image, or the lens:*/
    lens.addEventListener("mousemove", moveLens);
    img.addEventListener("mousemove", moveLens);
    /*and also for touch screens:*/
    lens.addEventListener("touchmove", moveLens);
    img.addEventListener("touchmove", moveLens);
    function moveLens(e) {
      var pos, x, y;
      /*prevent any other actions that may occur when moving over the image:*/
      e.preventDefault();
      /*get the cursor's x and y positions:*/
      pos = getCursorPos(e);
      /*calculate the position of the lens:*/
      x = pos.x - (lens.offsetWidth / 2);
      y = pos.y - (lens.offsetHeight / 2);
      /*prevent the lens from being positioned outside the image:*/
      if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
      if (x < 0) {x = 0;}
      if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
      if (y < 0) {y = 0;}
      /*set the position of the lens:*/
      lens.style.left = x + "px";
      lens.style.top = y + "px";
      /*display what the lens "sees":*/
      result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
    }
    function getCursorPos(e) {
      var a, x = 0, y = 0;
      e = e || window.event;
      /*get the x and y positions of the image:*/
      a = img.getBoundingClientRect();
      /*calculate the cursor's x and y coordinates, relative to the image:*/
      x = e.pageX - a.left;
      y = e.pageY - a.top;
      /*consider any page scrolling:*/
      x = x - window.pageXOffset;
      y = y - window.pageYOffset;
      return {x : x, y : y};
    }
  }
  </script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const quantityInput = document.getElementById("quantity");
      const quantityMinusButton = document.getElementById("quantity-minus");
      const quantityPlusButton = document.getElementById("quantity-plus");

      quantityMinusButton.addEventListener("click", function () {
          if (quantityInput.value > 1) {
              quantityInput.value = parseInt(quantityInput.value) - 1;
          }
      });

      quantityPlusButton.addEventListener("click", function () {
          quantityInput.value = parseInt(quantityInput.value) + 1;
      });
  });
</script>
{% endblock %}




