{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

<style>
  * {
    box-sizing: border-box;
  }
  
  .zoom {
    padding: 12px;
   
    transition: transform .4s;
    width: 150px;
    height: 260px;
    margin: 0 auto;
  } 

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  </style>



{% comment %} <div class="py-3 bg-blue-500">
  <div class="container mx-auto text-white">
    <a href="{% url 'home' %}">HOME /</a>
    <a href="{% url 'shop' %}">SHOP /</a>
 
    
  </div>
</div> {% endcomment %}
<h1 class="text-2xl font-bold mx-10 mb-4">PRODUCT VIEW</h1>
<hr>
<div class=" bg-gradient-gray-dark py-12">
 
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col md:flex-row -mx-4">
          <div class="md:flex-1 px-4">

           
              <div class="h-100px rounded-lg  dark:bg-gray-700 mb-4">
                  <img class=" zoom  w-80 object-cover object-center " src="{{ variant.cover_image.url }}" alt="Product Image">
              </div>
              
          </div>
          <div class="md:flex-1 px-4">
              <h2 class="text-4xl font-bold text-gray-800 dark:text-white mb-2">{{ variant.color}}</h2>
              
              <div class="flex mb-4">

                <div>
                  <span class="font-bold text-gray-700 dark:text-gray-300">Availability:</span>
                  <span class="text-gray-600 dark:text-gray-300">In Stock</span>
                </div>
                  
              </div>
              
              <div class="mr-4 flex justify-start ">
                <p class="font-bold text-gray-700 dark:text-gray-300">Price :</p>
                <del  class="text-red-500">
                  <p class="text-gray-600 dark:text-gray-300 overline ml-2">{{variant.orginal_price}} </p>
                </del>
                  <p class="text-gray-600 dark:text-gray-300 overline ml-2"> {{ variant.selling_price}}</p>
              </div>
              <div class="mb-4">
                  <span class="font-bold text-gray-700 dark:text-gray-300">Select Color:</span>
                  <div class="flex items-center mt-2">
                    <div class="flex ps-2">
                      {% for similar_variant in variant.product.variants.all %}
                        <div class="col-1 m-1 p-0 bg-secondary-subtle rounded-1 border border-2 border-color: rgb(255 255 255); {% if similar_variant == variant %}  {% endif %}">
                          <a href="{%  url 'productview' pslug=similar_variant.product.slug vslug=similar_variant.slug  %}">
                            <img src="{{ similar_variant.cover_image.url }}" class="img-fluid" style="width: 100px; height: 100px;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ similar_variant.color }}">
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                    
                  </div>
              </div>

              
              <div class="mb-4">
                  <span class="font-bold text-gray-700 dark:text-gray-300">Select Size:</span>
                  <button>{{variant.size}}</button>
                  {% comment %} <button class="{% if request.GET.size == '500ml' %}border-2{% endif %}  border-black p-1" onclick="changesize('500ml')">500ml</button>
                  <button class="{% if request.GET.size == '1000ml' %}border-2{% endif %} border-black p-1" onclick="changesize('1000ml')">1000ml</button> {% endcomment %}
                  {% comment %} <div class="dropdown">
                    <form id="sizeForm" method="get" action=".">
                      <select id="size" name="selectedSize" onchange="changesize()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="500ml" {% if request.GET.selectedSize %}selected{% endif %}>500ml</option>
                        <option value="1000ml" {% if request.GET.selectedSize %}selected{% endif %}>1000ml</option>
                      </select>
                      <p>{{ request.GET.selectedSize }}</p>

                    </form>
                </div> {% endcomment %}
                
              </div>
              <div class="flex -mx-2 mb-4">
                <div class="w-1/2 px-2">
                  
                    <button class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-600 dark:hover:bg-gray-700">Add to Cart</button>
                   
                </div>
                <div class="w-1/2 px-2">
                  <form method="post" action="{% url 'add_to_wishlist' slug=variant.product.slug %}">
                    {% csrf_token %}
               
    
                    

                    <button class="w-full bg-white dark:bg-white py-2 px-4 rounded-full font-bold hover:bg-gray-400 dark:hover:bg-gray-300 border border-black">Add to wishlist</button>
                   
                     
            </form>
            
            
          
                </div>
            </div>
           
              <div>
                  <span class="font-bold text-gray-700 dark:text-gray-300">Product Description:</span>
                  <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">{{ variant.product.description }}
                      </p>
              </div>
         
          </div>
      </div>
  </div>
</div>


{% comment %} 
<script>


  let currentUrl = new URL(window.location.href);
  let urlparams = new URLSearchParams(currentUrl.search);
  if (!urlparams.get('size')){
    urlparams.set('size',"500ml")
    currentUrl.search = urlparams.toString();
   // window.location.href = currentUrl.toString();
  }

  function changesize(size){
    urlparams.set('size',size)
    currentUrl.search = urlparams.toString();
    window.location.href = currentUrl.toString();

  }



</script> {% endcomment %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        $('.quantity-button').on('click', function() {
            var input = $(this).siblings('.quantity-input');
            var currentValue = parseInt(input.val());
            if ($(this).hasClass('quantity-plus')) {
                input.val(currentValue + 1);
            } else if ($(this).hasClass('quantity-minus') && currentValue > 1) {
                input.val(currentValue - 1);
            }
        });
    });
</script>

  
{% endblock %}




